@page "/post/{Id:int}"

<MudContainer MaxWidth="MaxWidth.Medium" Class="mt-8 mb-8">
    @if (PostDto == null && !Error)
    {
        <div class="d-flex justify-center my-16">
            <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
        </div>
    }
    else if (!Error)
    {
        @* 头部信息 *@
        <div class="mb-10 text-center">
            <MudText Typo="Typo.h3" Class="mb-4 fw-bold">@PostDto.Title</MudText>

            <div class="d-flex justify-center align-center gap-4 flex-wrap text-muted">
                <MudText Class="d-flex align-center">
                    <MudIcon Icon="@Icons.Material.Outlined.Person" Class="mr-1" /> AIFSKATE
                </MudText>
                <MudText Class="d-flex align-center">
                    <MudIcon Icon="@Icons.Material.Outlined.CalendarToday" Class="mr-1" /> @PostDto.CreationTime.ToString("yyyy-MM-dd")
                </MudText>
                 <MudText>
                <MudLink Color="Color.Default"  Href="@($"/category/{PostDto.CategoryId}/")" Class="d-flex align-center">
                        <MudIcon Icon="@Icons.Material.Outlined.Folder" Class="mr-1" />
                    @(PostDto.CategoryName ?? "无")
                </MudLink>
                </MudText>
            </div>
        </div>

        @* 正文区域 *@
        <MudText class="mb-8" style="overflow-wrap: break-word;">
            @((MarkupString)Markdig.Markdown.ToHtml(PostDto.Markdown))
        </MudText>

        @* 标签区域：使用 MudChip *@
        @if (PostDto.Tags.Any())
        {
            <div class="d-flex align-center gap-2 mb-8">
                <MudIcon Icon="@Icons.Material.Outlined.LocalOffer" />
                <MudText Class="mr-2">Tags:</MudText>
                @foreach (var tag in PostDto.Tags)
                {
                    <MudChip T="string" Href="@($"/tag/{tag.Id}")" Variant="Variant.Outlined">
                        @tag.TagName
                    </MudChip>
                }
            </div>
        }

        @* 版权声明区域 *@
        <MudAlert Severity="Severity.Normal" Variant="Variant.Outlined" Class="mt-4">
            <MudText>
                <strong>Author:</strong> AIFSKATE <br />
                <strong>License:</strong> 本文采用
                <MudLink Href="http://creativecommons.org/licenses/by-nc-nd/4.0/" Target="_blank" Color="Color.Inherit" Underline="Underline.Always">
                    知识共享 署名-非商业性使用-禁止演绎(CC BY-NC-ND)国际许可协议
                </MudLink>
                进行许可。
            </MudText>
        </MudAlert>
    }
    else
    {
        <div class="d-flex justify-center my-8">
            <MudAlert Severity="Severity.Error" Variant="Variant.Outlined">加载文章失败，请稍后重试。</MudAlert>
        </div>
    }
</MudContainer>