@page "/admin/categories"

<AdminLayout>
    @if (categories == null)
    {
        <Loading />
    }
    else
    {
        <div class="post-wrap categories">
            <h2 class="post-title">-&nbsp;Categories&nbsp;-</h2>
            @if (categories.Any())
            {
                <div class="categories-card">
                    @foreach (var item in categories)
                    {
                        <div class="card-item">
                            <div class="categories">
                                <NavLink title="❌删除" @onclick="@(async () => await DeleteAsync(item.Id))">❌</NavLink>
                                <NavLink title="📝编辑" @onclick="@(() => UpdateCategory(item))">📝</NavLink>
                                <NavLink target="_blank" href="@($"/category/{item.Id}")">
                                    <h3>@item.CategoryName</h3>
                                    <small>(@item.ArticleCount)</small>
                                </NavLink>
                            </div>
                        </div>
                    }
                    <div class="card-item">
                        <div class="categories">
                            <NavLink><h3 @onclick=@AddCategory>📕~~~ 新增分类 ~~~📕</h3></NavLink>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <ErrorTip />
            }
        </div>

        <Box Open="@Open" OnCancel="OnCancel" OnConfirm="OnConfirm">
            <div class="box-item">
                CategoryName:<input type="text" @bind="@UploadData.CategoryName" @bind:event="oninput" />
            </div>
            <div class="box-item">
                Description:<input type="text" @bind="@UploadData.Description" @bind:event="oninput" />
            </div>
        </Box>
    }
</AdminLayout>