@page "/admin/categories"
@using Mapper.DTO

<AdminLayout>
    <MudContainer MaxWidth="MaxWidth.Large" Class="mt-8 mb-4">
        @if (categories == null)
        {
            <div class="d-flex justify-center my-16">
                <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
            </div>
        }
        else
        {
            <MudTable Items="@categories" Hover="true" Elevation="1" Class="mb-8">
                <ToolBarContent>
                    <MudText Typo="Typo.h6" Class="fw-bold">分类管理</MudText>
                    <MudSpacer />
                    
                    @* Status Toggle Group matching AdminPosts style *@
                    <MudToggleGroup T="int" Value="@_isDeletedFilter" ValueChanged="OnFilterChanged"
                                    SelectionMode="SelectionMode.SingleSelection" Color="Color.Default" Variant="Variant.Outlined" Class="mr-4">
                        <MudToggleItem Value="0" Text="正常" />
                        <MudToggleItem Value="1" Text="已删除" />
                    </MudToggleGroup>

                    <MudButton Variant="Variant.Outlined"
                               StartIcon="@Icons.Material.Outlined.Add"
                               OnClick="AddCategory">
                        新增分类
                    </MudButton>
                </ToolBarContent>
                <HeaderContent>
                    <MudTh>ID</MudTh>
                    <MudTh>分类名称</MudTh>
                    <MudTh>文章数</MudTh>
                    <MudTh Style="text-align:right">操作</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="ID">@context.Id</MudTd>
                    <MudTd DataLabel="分类名称">
                        <MudLink Href="@($"/admin/category/{context.Id}")" Color="Color.Default" Target="_blank" Underline="Underline.Hover">
                            <span style="@(_isDeletedFilter == 1 ? "text-decoration: line-through;" : "")">
                                @context.CategoryName
                            </span>
                        </MudLink>
                    </MudTd>
                    <MudTd DataLabel="文章数">@context.ArticleCount</MudTd>
                    <MudTd DataLabel="操作" Style="text-align:right">
                        <MudIconButton Icon="@Icons.Material.Outlined.Edit"
                                       Title="编辑"
                                       OnClick="@(() => UpdateCategory(context))" />
                        
                        @if (_isDeletedFilter == 0)
                        {
                            <MudIconButton Icon="@Icons.Material.Outlined.Delete"
                                           Title="删除"
                                           OnClick="@(() => OpenDeleteDialog(context))" />
                        }
                        else
                        {
                            <MudIconButton Icon="@Icons.Material.Outlined.Restore"
                                           Title="恢复"
                                           OnClick="@(() => ExecuteRestore(context.Id))" />
                        }
                    </MudTd>
                </RowTemplate>
            </MudTable>
        }
    </MudContainer>
</AdminLayout>