@page "/admin/posts"
@page "/admin/posts/{page:int}"

<AdminLayout>
    <MudContainer MaxWidth="MaxWidth.Large" Class="mt-8 mb-4">
        @if (PostsData == null)
        {
            <div class="d-flex justify-center my-16">
                <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
            </div>
        }
        else
        {
            <MudTable Items="@PostsData.Posts" Hover="true" Elevation="1" Class="mb-8">
                <ToolBarContent>
                    <MudText Typo="Typo.h6" Class="fw-bold">- Posts -</MudText>
                </ToolBarContent>
                <HeaderContent>
                    <MudTh>ID</MudTh>
                    <MudTh>标题</MudTh>
                    <MudTh>发布时间</MudTh>
                    <MudTh Style="text-align:right">操作</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="ID">@context.Id</MudTd>
                    <MudTd DataLabel="标题">
                        <MudLink Href="@($"/post/{context.Id}")" Target="_blank" Color="Color.Default" Underline="Underline.Hover">@context.Title</MudLink>
                    </MudTd>
                    <MudTd DataLabel="发布时间">@context.CreationTime</MudTd>
                    <MudTd DataLabel="操作" Style="text-align:right">
                        <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Info" Title="编辑" OnClick="@(async () => await Utils.NavigateTo($"/admin/post/{context.Id}"))" />
                        <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" Title="删除" OnClick="@(async () => await DeleteAsync(context.Id))" />
                    </MudTd>
                </RowTemplate>
            </MudTable>

            @if (TotalPage > 1)
            {
                <div class="d-flex justify-center">
                    <MudPagination Count="@TotalPage"
                                   Selected="@(page ?? 1)"
                                   SelectedChanged="OnPageChanged"
                                   Color="Color.Primary"
                                   ShowFirstButton="true"
                                   ShowLastButton="true" />
                </div>
            }
        }
    </MudContainer>
</AdminLayout>