@page "/admin/tags"

<AdminLayout>
    @if (Tags == null)
    {
        <Loading />
    }
    else
    {
        <div class="post-wrap categories">
            <h2 class="post-title">-&nbsp;Tags&nbsp;-</h2>
            @if (Tags.Any())
            {
                <div class="categories-card">
                    @foreach (var item in Tags)
                    {
                        <div class="card-item">
                            <div class="categories">
                                <NavLink title="❌删除" @onclick="@(async () => await DeleteTagAsync(item.Id))">❌</NavLink>
                                <NavLink title="📝编辑" @onclick="@(() => UpdateTag(item))">📝</NavLink>
                                <NavLink target="_blank" href="@($"/tag/{item.Id}")">
                                    <h3>@item.TagName</h3>
                                </NavLink>
                            </div>
                        </div>
                    }
                    <div class="card-item">
                        <div class="categories">
                            <NavLink><h3 @onclick=@AddTag>📘~~~ 新增分类 ~~~📘</h3></NavLink>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <ErrorTip />
            }
        </div>

        <Box Open="@Open" OnCancel="OnCancel" OnConfirm="OnConfirm">
            <div class="box-item">
                TagName:<input type="text" @bind="@UploadData.TagName" @bind:event="oninput" />
            </div>
        </Box>
    }
</AdminLayout>